<!DOCTYPE html Public>

<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <style>
    body {
      color: #B22222;
      font-family: 'Tangerine', serif;
      font-size: 48px;
    }
  </style>


<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Age</th>
    <th>Neighborhood</th>
    <th>Hobby</th>
    <th>Children</th>
    <th>Mom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.age %></td>
    <td><%= profile.neighborhood %></td>
    <td><%= profile.hobby %></td>
    <td><%= profile.children %></td>
    <td><%= profile.mom_id %></td>
    <td><%= link_to 'Mommy Profile', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
<%= link_to 'Home', moms_path %>
